.c-item{
  height: 480px;  
  background-color:ghostwhite;
}
.c-img{
  height: 100%;
  object-fit: scale-down;
}
.container-fluid{
  height: 50px;
}
h3{
  text-align: center;
}
#card2{
  left: 12%;
}
#card3{
  left: 24%;
}
#img3{
  height: 250px;
}
#img2{
  height: 250px;
}
#contactus{
  position: relative;
  left: 20px;
}
#querry{
  width: 400px;
  height: 100px;
}
#ipb1{
  width: 750px;
}
#ipb2{
  width: 750px;
}
#ipb3{
  width: 1000px;
  height: 100px;
}
#qb1{
  width: 1000px;
  height: 100px;
}
#ipb4{
  width: 850px;
}
#ipb5{
  width: 750px;
}
#buttadd{
  width: 1300px;
  height: 100px;
}
#body2{
  position: relative;
  left: 20px;
}
#finbut{
  position: relative;
  left: 600px;
}
#drpdn1{
  width: 750px;
}
#drpdn2{
  width: 750px;
}
#buttadd1{
  width: 1000px;
  height: 100px;
}
#buttadd2{
  width: 1000px;
  height: 100px;
}
#reqbod{
  text-align: center;
}
#fbimg{
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
#head4you{
  position: relative;
  left: 20px;
}
#bigc{
  width: 600px;
  position: relative;
  left: 375px;
  text-align: center;
}
#drpdn3{
  width: 750px;
}
#finbut2{
  position: relative;
  left: 600px;
}
#fbdiv{
  position: relative;
  left: 20px;
}
#conbod{
  text-align: center;
}
#mainbod{
  background-color: ghostwhite;
}
#techbod{
  text-align: center;
}
#spbb{
  height: 250px;
}
.c-card{
  position: relative;
  left: 20px;
}
#spfb{
  height: 250px;
}
.link:hover{
  color: grey;
}
.link{
  text-decoration: none;
  color: black;
}
#ctss{
  height: 250px;
}
#ipb6{
  width: 650px;
}
